{% extends 'home/layout.html' %}

{% block content %}
<h1>Список доступных тестов</h1>
<a href="{% url 'upload_questions' %}">Загрузить</a>
    {% if tests %}
    <ul class="list-group">
        {% for test in tests %}
            <li class="display-5 list-group-item list-group-item-action">
                <a href="{% url 'test_detail' test.id %}" class="text-decoration-none" style="color: black">
                    {{ test.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3>No tests available</h3>
    {% endif %}
{% endblock %}