{% extends 'home/layout.html' %}
{% block title %} Список лекций {% endblock %}
{% block content %}
<h1>Список лекций</h1>
    {% if lectures %}
    <ul class="list-group">
        {% for lectures in lectures %}
            <li class="display-5 list-group-item list-group-item-action">
                <a href="{{ lectures.pdf_file.url }}" class="text-decoration-none" style="color: black">
                    {{ lectures.title }}
                </a>
            </li>
        {% endfor %}

    </ul>
    {% else %}
      <h3>У вас нет добавленных лекций</h3>
    {% endif %}
{% endblock %}
